<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="AnimateDialog">
		<title>Create Animation</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Specify spline curve(s) for animation.&#x0A;Points may have local xdir/zdir orientations.  &#x0A;Local xdir/zdir orientations always appear at curve ends.</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>           point           [    xdir                       zdir     ]&#x0A;      0      0      0         1   0    0                 0    0   1</label>
					<font>
						<size>10</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_spec_text" member="yes">
					<value>0       0    0&#x0A;100    50   50&#x0A;200   100  100&#x0A;250   250  200&#x0A;150   300  250&#x0A;-150  300  300&#x0A;-300    0  350   -1   0   1    0 -1 1&#x0A;-250 -250  390&#x0A;0    -300  410    0  -1   1    1  0 1&#x0A;300  -250  390&#x0A;150  -150  380  0.6  0.9 0.5  -1  0 1&#x0A;0       0  350 &#x0A;0       0  300 -0.6 -0.6 0.5   1  0 1&#x0A;0       0  100    1 -0.5  0  -0.2 0 1&#x0A;0       0   0</value>
					<size>380,300</size>
					<font>
						<size>10</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>modern</family>
						<face>Courier New</face>
					</font>
					<style>wxTE_MULTILINE</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_orbit" member="yes">
							<label>Orbit</label>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="m_orbit_deg" member="yes">
							<value>360</value>
							<max>3600</max>
							<size>70,-1</size>
							<style>wxALIGN_RIGHT</style>
						</object>
						<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Duration [sec ]</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="m_total_sec" member="yes">
							<value>30</value>
							<min>2</min>
							<max>600</max>
							<size>70,-1</size>
							<style>wxALIGN_RIGHT</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>Frames/Sec</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="m_framerate" member="yes">
							<value>10</value>
							<min>1</min>
							<max>25</max>
							<size>70,-1</size>
							<style>wxALIGN_RIGHT</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>3</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="AnimateButton" member="yes">
							<label>Animate</label>
							<handler function="OnAnimateButton" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
